/*----------------------------------------------------------------*/
/* Hoja de estilos                                                */
/*----------------------------------------------------------------*/
/* Fuente para toda la página */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

/* Background igual al del Index.html */
.fondo{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(241, 116, 116, 0.6), rgba(0,0,0,0.6)),url(images/Fondo.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*----------------------------------------------------------------*/
/* Definimos el contenedor grid                                   */
/*----------------------------------------------------------------*/
.contenedorprincipal {
    display: grid;

    /* Uso un atajo para definir 1 fila / 4 columnas */
    grid-template: auto / auto auto auto auto; 

    /* Distribuimos el contenido en cada fila */
    grid-template-areas: "cat1 cat2 cat3 cat4";

    /* separamos los items con gap */
    gap: 2%;

    /* Hacemos que el diseño ocupe casi el alto total del navegador */
    /*height: 90vh;*/ 
}

/* Estilo del menú de navegación */

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(65, 62, 62);
    text-decoration: none;
    font-size: 16px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #1713d6;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.text-box{
    width: 90%;
    color:rgb(0, 0, 0);
    font-size: xx-large;  
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/*----------------------------------------------------------------*/
/* Defino el nombre, color y alineación del texto de cada area del grid */*----------------------------------------------------------------*/
.cabeza    { grid-area: cabeza;    background-color: rgb(114, 134, 248);  }
.cat1       { grid-area: cat1; background-color: rgb(114, 134, 248); text-align: center; }
.cat3       { grid-area: cat3;       background-color: rgb(114, 134, 248);text-align: center;  }
.cat2       { grid-area: cat2;
background-color: rgb(114, 134, 248);text-align: center;}
.cat4       { grid-area: cat4;
    background-color: rgb(114, 134, 248);text-align: center;}
.pie       { grid-area: pie;       background-color: rgb(114, 134, 248);  }


/*----------------------------------------------------------------*/
/* Definimos la apariencia de cada item del grid                  */
/*----------------------------------------------------------------*/
.item {
    padding: 10px;
    color: rgb(54, 26, 13);
    border-radius: 10px;
}


/*----------------------------------------------------------------*/
/* Imagen con bordes redondeados, con limites de tamaño           */
/*----------------------------------------------------------------*/
img {
    border-radius: 30px;
    width: 100%;
    max-width:325px;
  }


/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo tablet                      */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
    .contenedorprincipal {
        /* Uso un atajo para definir 1 filas / 2 columna */
        grid-template: auto / auto auto; 

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "cat1 cat2" "cat3 cat4";
    }
}


/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo celular                     */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .contenedorprincipal {
        /* Uso un atajo para definir 1 fila / 1 columna */
        grid-template: auto / auto;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "cat1" "cat2" "cat3" "cat4";
    }
}

/* Centrado de texto para titulos y comentarios                     */
/*----------------------------------------------------------------*/
p.centrado { text-align: center; 
}
p.izquierda { text-align: left;
}
